@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

#app-view {
    @apply p-10 bg-gradient-to-br from-indigo-700 to-red-500 min-h-[100vh] max-h-[100vh] w-[100vw]
}

#app-header {
    @apply flex justify-center h-[20vh] max-h-[20vh]
}

#app-body {
    @apply flex justify-center w-full h-[80vh] max-h-[80vh]
}

#score-board {
    @apply absolute left-[50%] translate-x-[-50%] opacity-75 top-4 bg-blue-700 border-2 rounded-lg border-yellow-500 py-1 px-3 text-yellow-300 font-bold text-lg font-mono
}

#header-img {
    @apply mx-auto mt-[2%]
}

@media (max-width: 1024px) {
    #header-img {
        @apply h-20 mt-12
    }
}

@media (max-width: 640px) {
    #header-img {
        @apply h-12 mt-12
    }
}

@media (max-width: 1024px) {
    #score-board {
        @apply text-base top-2;
    }
}

@media (max-width: 640px) {
    #score-board {
        @apply text-xs top-2;
    }
}

/* Tags */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}
p {
    @apply text-lg font-bold text-yellow-300 font-mono;
}

@media (max-width: 1024px) {
    p {
        @apply text-base;
    }
}

@media (max-width: 640px) {
    p {
        @apply text-xs;
    }
}

/* Buttons */
.poke-button {
    @apply bg-blue-700 text-center border-4 border-yellow-500 text-yellow-300 font-bold p-4 text-lg font-mono rounded-lg hover:bg-blue-800;
}

@media (max-width: 1024px) {
    .poke-button {
        @apply text-base text-center p-2;
    }
}

@media (max-width: 640px) {
    .poke-button {
        @apply text-xs text-center p-2;
    }
}

/* Views */
.game-view {
    @apply flex flex-col gap-32 w-full h-full
}

@media (max-width: 1024px) {
    .game-view {
        @apply flex flex-col gap-16 w-full h-full
    }
}

@media (max-width: 640px) {
    .game-view {
        @apply flex flex-col gap-8 w-full h-full
    }
}


/* Components */
.button-panel {
    @apply flex flex-row justify-around w-full
}

@media (max-width: 1024px) {
    .button-panel {
        @apply flex flex-col gap-2;
        justify-content: flex-start;
    }
}

@media (max-width: 640px) {
    .button-panel-container {
        @apply flex flex-col gap-2;
        justify-content: flex-start;
    }
}


/* Containers */
.button-panel-container {
    @apply flex flex-col w-[60%] place-self-center;
}

@media (max-width: 1024px) {
    .button-panel-container {
        @apply flex flex-col w-[80%] place-self-center;
    }
}

@media (max-width: 640px) {
    .button-panel-container {
        @apply flex flex-col w-full place-self-center;
    }
}

.poke-image-container {
    @apply flex flex-col justify-center w-full h-[40%]
}

/* Images */
.silhouetted {
    filter: grayscale(100%) brightness(0.2);
}

.poke-image {
    @apply mx-auto poke-pulse h-40;
}

/* Animations */
.poke-pulse {
    animation: pulseBrightness 3s infinite ease-in-out;
}

@keyframes pulseBrightness {
    0% {
        filter: grayscale(100%) brightness(0.2);
    }
    50% {
        filter: grayscale(0%) brightness(0.8);
    }
    100% {
        filter: grayscale(100%) brightness(0.2);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 700ms linear infinite;
}